.h-container{
  background-color: #ffffff;
  height: 90px;
  width: 100%;
  position: fixed;
  z-index: 9999;
  box-shadow: 0 0 5px $black;
  @include break_dt{
    background-color: transparent;
    box-shadow: none;
  }
}


.h-header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  @include break_tab{
    padding: 0 2%;
  }
  @include break_tab{
  }
  &__image{
    cursor: pointer;
  }
  &__nav{
    cursor: pointer;
  }
}
